language = "nodejs"

run = "npm run dev"

[nix]
channel = "stable-24_05"

[env]
VITE_API_BASE_URL = "https://yarn-shop-be.onrender.com/api/v1"

[deployment]
run = ["sh", "-c", "npm run build && npm run preview"]